# .env example file
#
# Local developers only: Modify and safe this as .env
#
# Database Bootstrapping
PARIAH_DB_HOST=127.0.0.1
PARIAH_DB_USER=pariah
PARIAH_DB_PASS=Par1ahT3st
PARIAH_DB_NAME=os_pariah

# DATABASE ROBUST (OpenSim) - READ only
ROBUST_DB_HOST=127.0.0.1
ROBUST_DB_USER=robust_ro
ROBUST_DB_PASS=R0bustT3st
ROBUST_DB_NAME=robust

# Secret Keys
FLASK_SECRET_KEY=1234567890abcdefGHIJKLmnopqrstuvwxyzEXAMPLEKEYSUGGEST64Characters
